.title {
  position: absolute;
  left: 5.63%;
  top: 66.52%;
  bottom: 28.54%;

  /* Subtitle 1 */

  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  /* Text/high_emphasis */

  color: #03314b;
}

.author {
  position: absolute;
  left: 5.63%;
  top: 74.89%;
  bottom: 20.82%;

  /* Body 1 */

  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  /* Text/low_emphasis */

  color: #6d787e;
}

.read {
  position: absolute;
  left: 5.63%;
  right: 52.11%;
  top: 82.62%;
  bottom: 13.09%;
}

.clock-icon {
  position: absolute;
  right: 87.32%;
  top: 82.62%;
  bottom: 13.09%;
}

.time {
  position: absolute;
  left: 14.08%;
  top: 82.83%;
  bottom: 13.3%;

  /* Caption 3 */

  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  /* Text/low_emphasis */

  color: #6d787e;
}

.status {
  align-items: center;
  padding: 14px 24px;
  gap: 8px;

  position: absolute;
  width: 106px;
  height: 48px;
  left: 78px;
  top: 395px;

  border-radius: 0px 0px 8px 8px;
}

.status p {
  width: 83px;
  height: 20px;

  /* Body 1 */

  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  /* Blue */

  color: #0365f2;
}

.footer {
  box-sizing: border-box;

  position: absolute;
  left: 0%;
  right: 0.35%;
  top: 96.78%;
  bottom: 0%;

  /* Grey/100 */

  background: #f1f6f4;
  border-radius: 0px 0px 8px 8px;
}
